:root {
    --baby-powder: #FAF8F4;
    --atomic-tangerine: #FD8E58;
    --powder-blue: #ACE5E5;
    --violet-crayola: #964880;
    --raisin-black: #1A1B25;
    --gray-web: #807E7D;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: var(--baby-powder);
    padding: 4vw;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

p {
    line-height: 2;
    margin-top: 4vw;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 12vw;
    margin-top: 4vw;
}

h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 8vw;
    line-height: 1.5;
}

.extraSidePadding-8vw {
    padding: 0 8vw;
}

.full-width-background {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translateX(-50%);
    padding: 16vw 8vw;
    /* margin-top: 16vw; */
}

/* THE NAV BAR SETTINGS */
/* THE NAV BAR SETTINGS */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--baby-powder);
}

.navItemBox.left {
    width: 24%;
}

.navItemBox.left img {
    width: 80%;
}

.navItemBox.right ul {
    list-style-type: none;
    display: flex;
    column-gap: 2vw;
}


/* HERO SECTION */
/* HERO SECTION */
header {
    display: flex;
    justify-content: center;
}

.heroSection img {
    width: 92vw;
    border: 4vw solid var(--violet-crayola);
    margin-top: 4vw;
}

.heroText {
    padding: 4vw 8vw 8vw 8vw;
    background-color: var(--violet-crayola);
    position: relative;
    top: -4vw;
}

.heroText h1 {
    color: var(--powder-blue);
    font-size: 8vw;
}

.heroText p {
    color: var(--baby-powder);
}

/* SETTINGS FOR ABOUT ME */
/* SETTINGS FOR ABOUT ME */
.aboutMe {
    position: relative;
    margin-top: 8vw;
}

.aboutMe p:nth-child(2) {
    margin-top: 0;
}

.aboutMe h2 {
    color: var(--raisin-black);
    margin-top: 8vw;
}

.decoration.one {
    width: 400px;
    height: 400px;
    background-color: var(--atomic-tangerine);
    opacity: 0.32;
    position: absolute;
    top: 4%;
    left: -40%;
    z-index: -1;
    transform: rotate(16deg);

}

.decoration.two {
    width: 400px;
    height: 400px;
    background-color: var(--atomic-tangerine);
    position: absolute;
    bottom: -8%;
    right: -64%;
    z-index: -1;
    transform: rotate(16deg);
    border-radius: 100vmax;
}


/* MY PROJECT SECTION */
/* MY PROJECT SECTION */
.myProjects h1 {
    margin-top: 24vw;
}

.myProjects h3 {
    margin-top: 16vw;
    color: var(--gray-web);
}

.myProjects h3:nth-child(2) {
    margin-top: 2vw;
}

.projectCardContainer {
    width: 100%;
    background-color: var(--raisin-black);
    padding-top: 8px;
    margin-top: 2vw;
    border-radius: 8px;
    position: relative;
}

.projectScreenshot {
    position: relative;
}

.projectScreenshot img {
    width: 96%;
    display: block;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
}

.projectTitleBox {
    width: 100%;
    padding: 2vw 4vw;
    background-color: rgba(26, 27, 37, 0.88);
    /* backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.projectScreenshot h2 {
    color: var(--powder-blue);
    text-shadow: 0 0 8px rgb(0, 0, 0);
    margin: 0;
}

.siteResponsivenessIcons {
    width: 24vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.siteResponsivenessIcons img {
    height: 5.6vw;
    filter: invert(82%) sepia(2%) saturate(1341%) hue-rotate(324deg) brightness(122%) contrast(96%);
}

#dimIcon {
    filter: invert(23%) sepia(5%) saturate(196%) hue-rotate(349deg) brightness(92%) contrast(85%);
}

.cardBottom {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw;
}

/* .projectCardButton * {
    border: 1px solid yellow;
} */

.projectCardButton {
    width: 40%;
}

.projectCardButton a {
    text-decoration: none;
}

.buttonComponents {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
}

.buttonComponents img {
    width: 16%;
    filter: invert(51%) sepia(5%) saturate(134%) hue-rotate(335deg) brightness(95%) contrast(90%);
}

.buttonComponents p {
    color: var(--gray-web);
    margin: 0;
    font-size: 3.2vw;
    text-align: center;
}